[submodule "gmp"]
	path = gmp
	url = git://github.com/asheplyakov/gmp.pkg.git
[submodule "cln"]
	path = cln
	url = git://github.com/asheplyakov/cln.git
[submodule "ginac"]
	path = ginac
	url = git://github.com/asheplyakov/ginac.git
